
.icon-mail:before { content: '\e800'; } /* '' */
.icon-briefcase:before { content: '\e801'; } /* '' */
.icon-dot:before { content: '\e802'; } /* '' */
.icon-user:before { content: '\e803'; } /* '' */
.icon-github-circled-alt:before { content: '\f053'; } /* '' */
.icon-twitter-circled:before { content: '\f30a'; } /* '' */
.icon-facebook-circled:before { content: '\f30d'; } /* '' */
.icon-linkedin-circled:before { content: '\f319'; } /* '' */