.body {
	background-color: #16181A;
    font-family: 'IBM Plex Sans', sans-serif;
    color:#f2f2f2;
}
header{
	margin-top: 30px;
}
header .nav{
	min-height: 80px;
	overflow: hidden;
	background: #2C3842;
}

/* ---logo---*/
header .logo h2,
header .logo span,
header .logo p {
	font-size: 16px;
	display: inline-block;
	margin:0;
}

header .logo h2 {
	font-weight: 800;
	text-transform: uppercase;
}
header.logo .icono{
	color: white;
}

header .logo p{
	color:darkgray;
}


/*-----------menu-----------*/
header .menu{
	padding: 0;

}
header .menu a{
	display: block;
	text-decoration: none;
	color: white;
	padding: 0 30px;
}
header .menu a:hover{
	padding-bottom: 5px;
	color: #2C3842;
	text-shadow: 0px 0px 15px white;
	transition: 0.3s;
}
header .menu a div span{
	font-weight: 600;
}
header .menu .c-1{background:#AFADA0;}
header .menu .c-2{background:#A7A598;}
header .menu .c-3{background:#A09E90;}
/*-------slider------*/
.slider{
	margin-bottom: 40px;

}

.slider .col{
	padding: 0;
}

.galeria .imagen{
	
}

.portafolio{
	background: #2C3C44;
	border-top: 5px solid black;
	padding: 0 20px;
	margin-bottom: 40px;
}
.portafolio .titulo{
	padding: 40px 0;
	text-align: center;
	color: #4a80b5;
	font-family: 'IBM Plex Sans', sans-serif; 
	font-weight: 400;
}

.galeria .contenedor-imagen{
	margin-bottom: 20px;
	max-height: 200px;
	overflow: hidden;
}
.galeria .contenedor-imagen a{
	display: inline-block;
	background:black;

}

.galeria .contenedor-imagen:hover  img{
transition: 0.4s;
opacity: .3
}

.portafolio .modal-dialog{
	

}

#imagen-modal{
width: 600px;
height: auto;
max-width: 700px;
max-height: 700px;
}
.perfil{
	border-radius: 50%;
}


.acerca-de{
	padding: 30px;
	margin-bottom: 40px;
}
.acerca-de .foto{
	text-align: center;	


}
.acerca-de .foto img{
	margin-bottom: 30px;
}
.acerca-de .foto .nombre{
	color: 	white;
	font-weight: 400;
	font-size: 18px;
	letter-spacing: 2px;
}
.acerca-de .info .titulo{
	color: #005385;
	font-family: "IBM"
	font-weight: 300;
	font-size: 40px;
	margin-bottom: 30px;

}
.acerca-de .info .resumen{
	letter-spacing: 1px;

}
.acerca-de .info .label{
	font-size:15px;
	font-weight: 600;
	color: #005385;
	margin-bottom: 20px;

}
.acerca-de .info .progress-bar{
	height: 17px;
	background: #3da5e2;
	line-height: 25px;
	text-align: left;
	padding-left: 20px;
}

.acerca-de .info .progress{
	background: #005385;
	border-radius: 0;
	margin-bottom: 15px;
}


.contacto{
	padding: 40px 0;
	border-top: 1px solid #cbcbcb;
	margin-bottom: 40px;

}

.contacto .titulo{
	color:#0180c1;
	font-family: 'IBM Plex Sans', sans-serif;
	font-weight: 300;
	font-size: 40px;
	margin-bottom: 40px;
	text-align: center;
}
.contacto .form-group{
	margin-bottom: 0;

}
.formulario input[type="text"],
.formulario input[type="email"],
.formulario textarea{
	padding: 15px;
	border:none;
	width: 100%;
	color: white;
	font-family: 'IBM Plex Sans', sans-serif;
	margin-bottom: 30px;
	background: rgba(40,40,40,.6);

}

.formulario textarea{
	height: 150px;
	min-height: 150px;
	max-height: 250px;
}
.formulario .boton{
	background: #3da5e2;
	border: none;
	padding: 7px 30px;
	color: #fff;
	font-family: 'IBM Plex Sans', sans-serif;
	cursor: pointer;
	width: auto;
	border-radius: 3px;



}
.formulario .boton:hover{
	background: black;
}
.redes-sociales{
	padding: 40px 0;
	margin-bottom: 40px;
}
.redes-sociales .icon{
	width: 100px;
	height: 100px;
	font-size: 40px;
	line-height: 100px;
	text-align: center;
	color: black;
	display: inline-block;
	margin: 0px 20px;
	text-decoration:none;
	border-radius: 100px;
	transition: all .3s ease;
}
.redes-sociales .icon:hover{
	width: 100px;
	height: 100px;
	font-size: 70px;
	line-height: 100px;
	text-align: center;
	color: black;
	display: inline-block;
	margin: 0px 20px;
	text-decoration:none;
	border-radius: 100px;
	transition: all .3s ease;
}

.redes-sociales .twitter{background: #1da1f2;}
.redes-sociales .github{background:#833ab4  }
.redes-sociales .facebook{background:#1da1f2 ;}
.redes-sociales .linkedin{background:  white;}

@media screen and (max-width: 1199px){

}
@media screen and (max-width: 991px){
.logo{height: 76px;}
.menu{min-height: 76px;}
.menu a{width: 100%;}
.menu a div{width: 100%;}
.portafolio .galeria .contenedor-imagen:nth-child(1){order: 5;}
.portafolio .galeria .contenedor-imagen:nth-child(2){order: 1;}
.portafolio .galeria .contenedor-imagen:nth-child(3){order: 3;}
.portafolio .galeria .contenedor-imagen:nth-child(4){order: 4;}
.portafolio .galeria .contenedor-imagen:nth-child(5){order: 1;}
.portafolio .galeria .contenedor-imagen:nth-child(6){order: 3;}
.portafolio .galeria .contenedor-imagen:nth-child(7){order: 7;}

.modal-dialog{
	width: 70%;
}
#imagen-modal{
	width: 100%;
	position: absolute;
	top:150px;
}
}
@media screen and (max-width: 575px){
	header{
		margin-top: 0;
		text-align:center;
	}
	header .logo h2,
	header .logo p{
		font-size: 13px;

	}
	.redes-sociales .icon{
		width: 65px;
		height: 65px;
		line-height: 65px;
		font-size: 35px;
	}
	.redes-sociales .icon:hover{
		width: 65px;
		height: 65px;
		line-height: 65px;
		font-size: 45px;
	}

}
